!(function(<%= globalsTop %>){
<%= onFirstRequire %>
<%= globalsFirst %>require([
<%= modules %>
]<%= requireAs %>);
<%= requirer %>
}).apply(this, (function(_){
return [<%= globalsBottom %>];
})(<%= globalVarFinder %>));
